/* #region COMMON and Utilities */
:root {
    --my_primary: rgba(8, 59, 76, 1);
    --my_light_primary: rgba(19, 137, 178, 1);
    --my_warning: rgba(255, 209, 102, 1);
    --my_success: rgba(12, 214, 161, 1);
    --my_danger: rgba(240, 70, 111, 1);
}

.bg_my_primary {
    background-color: var(--my_primary);
}

.bg_my_light_primary {
    background-color: var(--my_light_primary);
}

.bg_my_warning {
    background-color: var(--my_warning);
}

.bg_my_success {
    background-color: var(--my_success);
}

.bg_my_danger {
    background-color: var(--my_danger);
}

/* #endregion COMMON and Utilities */

#app_main h1 {
    font-size: 4rem;
}

.square {
    width: 10rem;
    aspect-ratio: 1 / 1;
}